/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --border-color: rgba(0, 0, 0, 0.25);
  --border: 1px solid var(--border-color);
  --color-primary: var(--qwik-dark-blue);
  --shadow-low: 1px 1px 0px rgba(0, 0, 0, 0.5);
  --shadow-inset: inset 1px 1px 0px rgba(0, 0, 0, 0.5);
  --shadow-medium: 6px 6px 0px rgba(0, 0, 0, 0.25);
  --border-radius: 4px;
}

@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'), local('Bangers-Regular'), url("/fonts/Bangers-v13.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url("/fonts/FiraSans-v10-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url("/fonts/FiraSans-v10-Italic.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url("/fonts/FiraSans-v10-Bold.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*
  box-sizing: border-box

body
  background-color: beige
  color: rgba(0, 0, 0, 0.86)
  font-family: "Fira Sans", sans-serif
  margin: 0
  padding: 0

main {
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}

header
  padding: 0 16px

h1
  color: var(--qwik-dark-purple)
  font-family: 'Bangers', cursive
  font-weight: 400
  font-style: normal
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.25), 1px 1px 0 var(--qwik-dark-purple)

h1, h2
  margin: 0 0 4px 0

button.new-list
  flex: 0 0 auto
  height: 40px
  width: 400px

section
  align-items: flex-start
  border-bottom: 10px solid var(--qwik-dark-blue)
  display: flex
  gap: 8px
  overflow: auto
  padding: 16px

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

[draggable]
  cursor: pointer

ul
  list-style-type: none
  margin: 0
  padding: 0

div.list
  background-color: white
  border-radius: 4px
  border: var(--border)
  box-shadow: var(--shadow-low)
  padding: 4px 4px 0px
  width: 400px

  > div.title
    position: relative

    > div.close
      position absolute
      top: 8px
      right: 8px

    > input
      border-radius: var(--border-radius)
      border: 2px solid transparent
      display: block
      font-size: 24px
      font-weight: bold
      height: 40px
      margin: 0 0 4px 0
      width: 100%

li
  background-color: transparent
  border-radius: var(--border-radius)
  display: block

  &:empty::before
    content: "\00a0"

:focus-visible
  outline: 2px solid var(--color-primary)

input
  color: inherit

textarea
  border-radius: var(--border-radius)
  border: var(--border)
  color: inherit
  display: block
  font: inherit
  height: 40px
  margin: 0 0 4px 0
  overflow: hidden
  padding: 7px
  resize: none
  width: 100%

  .dragging > &
    margin: 0

div.lists
  align-items: flex-start
  display: flex
  flex-direction: row
  gap: 8px

.dragging
  box-shadow: var(--shadow-medium)
  cursor: grabbing
  position: absolute
  transform: rotate(1deg)
  z-index: 1

  *
   cursor: grabbing

div.placeholder, li.placeholder
  background-color: rgba(0, 0, 0, 0.25)
  border: none
  box-shadow: none
  display: none

li.placeholder
  margin-bottom: 4px

form.add
  display: flex
  margin-bottom: 4px

  > input
    border-radius: var(--border-radius)
    border: var(--border)
    box-shadow: inset var(--shadow-low)
    height: 40px
    margin-right: 4px
    padding: 8px
    width: 100%

  > button
    align-self: stretch

button
  border-radius: var(--border-radius)
  border: var(--border)
  padding: 8px

  box-shadow: var(--shadow-low)
  &:active
    box-shadow: inset var(--shadow-low)
