/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --border-color: rgba(0, 0, 0, 0.2);
  --border: 1px solid var(--border-color);
  --color-primary: var(--qwik-dark-blue);
  --shadow-low: 1px 1px 0px rgba(0, 0, 0, 0.5);
  --shadow-inset: inset 1px 1px 0px rgba(0, 0, 0, 0.5);
  --shadow-medium: 6px 6px 0px rgba(0, 0, 0, 0.25);
  --border-radius: 4px;
}

*
  box-sizing: border-box

body
  background-color: beige
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif
  margin: 0
  padding: 0

main {
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}

h1,
h2 {
  margin: 0 0 4px 0;
}

button.new-list
  flex: 0 0 auto
  width: 400px

section
  align-items: flex-start
  border-bottom: 10px solid var(--qwik-dark-blue)
  display: flex
  gap: 8px
  overflow: auto
  padding: 20px

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

[draggable]
  cursor: pointer

ul
  background-color: white
  border-radius: 4px
  border: var(--border)
  box-shadow: var(--shadow-low)
  list-style-type: none
  margin: 0
  padding: 4px 4px 0px
  width: 400px

  > input
    border-radius: var(--border-radius)
    border: 2px solid transparent
    display: block
    font-size: 16px
    font-weight: bold
    margin: 0 0 4px 0
    width: 100%

li
  background-color: transparent
  border-radius: var(--border-radius)
  display: block

  &:empty::before
    content: "\00a0"

:focus-visible
  outline: 2px solid var(--color-primary)

textarea
  border-radius: var(--border-radius)
  border: var(--border)
  display: block
  font: inherit
  height: 40px
  margin: 0 0 4px 0
  overflow: hidden
  padding: 7px
  resize: none
  width: 100%

  &:focus-visible
    padding: 6px

  .dragging > &
    margin: 0

div.lists
  align-items: flex-start
  display: flex
  flex-direction: row
  gap: 8px

.dragging
  box-shadow: var(--shadow-medium)
  position: absolute
  transform: rotate(1deg)

ul.placeholder
  background-color: rgba(0, 0, 0, 0.25)
  border: none
  box-shadow: none
  display: none

form.add
  display: flex
  margin-bottom: 4px

  > input
    border-radius: var(--border-radius)
    border: var(--border)
    box-shadow: inset var(--shadow-low)
    margin-right: 4px
    padding: 8px
    width: 100%

  > button
    align-self: stretch

button
  border-radius: var(--border-radius)
  border: var(--border)
  padding: 8px

  box-shadow: var(--shadow-low)
  &:active
    box-shadow: inset var(--shadow-low)
